fastapi[all]
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
sqlmodel
alembic
psycopg2-binary
pytest 
ldap3
uvicorn
jinja2
python-multipart
aiofiles
pytest
pytest-env
black
invoke
ipython
requests
chardet
