#logo-container {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    background-color: white;
    /* font-family: "Roboto Light", "Ubuntu Light", "Ubuntu", monospace !important; */
}

#ukrsib {
    font-size: 10px;
    letter-spacing: 10px;
}

#aura {
    font-size: 41px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: -4px;
}